<div class = "container">
    <br>
    <h1>Список товаров</h1>
    <br>
    <div class = "container-table d-flex" >

            <form  novalidate ng-submit="fillTable()" >
                <div class="filter form-column align-items-center" >
                    <div class="col-auto">
                        <label for="categories">Категории</label>
                        <select class="custom-select" name="categories" id="categories" ng-model = "filter.category">
                            <option ng-repeat="c in categories" value="{{c.id}}">{{c.title}}</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="titlePart" class="sr-only">Название</label>
                        <input name="titlePart" ng-model="filter.title_part" id="titlePart" type="text" class="form-control mb-2"  placeholder="Название">
                    </div>
                    <div class="col-auto">
                        <label for="minPriceInput" class="sr-only">Цена От</label>
                        <input name="minPrice" ng-model="filter.min_price" id="minPriceInput" type="number" class="form-control mb-2"  placeholder="Цена От">
                    </div>
                    <div class="col-auto">
                        <label for="maxPriceInput" class="sr-only">Цена До</label>
                        <input name="maxPrice" ng-model="filter.max_price" id="maxPriceInput" type="number" class="form-control mb-2"  placeholder="Цена До">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success mb-2" ng-click="cleanFilter()">Очистить</button>
                    </div>
                </div>
            </form>

            <div class="table">

                <table class="table table-hover" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Название</td>
                            <td>Цена</td>
                            <td>Категория</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in ProductsPage.content">
                            <td>{{p.id}}</td>
                            <td>
                                {{p.title}}
                            </td>
                            <td>{{p.price}}</td>
                            <td>{{p.category.title}}</td>
                            <td>
                                <button class="btn btn-success" ng-click="addToCart(p.id)">Добавить в корзину</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" ng-disabled="ProductsPage.first">
                    <a class="page-link" ng-click="fillTable(ProductsPage.number>0 ? ProductsPage.number : 1)">Назад</a>
                </li>
                <li class="page-item" ng-repeat = "i in PaginationArray">
                    <a class="page-link" ng-click="fillTable(i)">{{i}}</a>
                </li>
                <li class="page-item" ng-disabled="ProductsPage.last">
                    <a class="page-link" ng-click="fillTable(ProductsPage.number+2<ProductsPage.totalPages ? ProductsPage.number+2 : ProductsPage.totalPages)">Вперед</a>
                </li>
            </ul>
        </nav>


</div>